*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0%;
}

/* ToolBox Container */
.toolbox-cont{
    height: 5rem;
    background-color: #57606f;
    display: flex;
    align-items: center;
}

.toolbox-cont > *{
    margin-left: 4rem;
    border-radius: 3px;
}

/* Priority Colors Container */
.toolbox-priority-cont{
    height: 3.5rem;
    width: 16rem;
    display: flex;
    background-color: #4b7bec;
    justify-content: space-around;
    align-items: center;
}


/* Action Buttons */
.action-btn-cont{
    height: 3.5rem;
    width: 8rem;
    display: flex;
    background-color: black;
}

.action-btn-cont > *{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: 50%;
    color: white;
}

.action-add:hover{
    color: green;
}
.action-rem:hover{
    color: red;
}

/* Modal Container */
.modal-cont{
    height: 50vh;
    width: 45vw;
    background-color: aqua;
    position: absolute;
    top: calc(( 100vh - 50vh )/2);
    left: calc(( 100vw - 45vw )/2);
    display: flex;
}

.priority-colors-cont{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
}

.textarea-cont{
    height: 100%;
    width: 75%;
    outline: none;
    resize: none;
    background-color:white;
    padding: 2rem;
    font-size: 2rem;
}

.priority-color{
    height: 4rem;
    width: 60%;
    background-color: lightsalmon;
}

/* Ticket-Container */
.ticket-cont{
    height: 12rem;
    width: 16rem;
}

.ticket-color{
    height: 1rem;
    background-color: green;
}

.ticket-id{
    background-color: rosybrown;
    height: 2rem;
    padding: 0.4rem;
}

.task-area{
    height: calc( 100% - 1rem - 2rem );
    /* background-color: antiquewhite; */
    padding: 0.4rem;
    outline: none;
}

/* Main Container */

.main-cont{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    justify-content: center;
}


.ticket-cont{
    height: 13rem;
    width: 16rem;
    background-color: #f1f2f6;
}

.ticket-lock{
    height: 2rem;
    /* background-color: #f1f2f6; */
    display: flex;
    font-size: 1.5rem;
    padding-right: 1rem;
    color: #a5b1c2;
    justify-content: flex-end;
}

/* Priority Colors */
.color{
    height: 1.3rem;
    width: 3rem;
    background-color: lightpink;
}

.blue{
    background-color: blue;
}

.orange{
    background-color: orange;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.border{
    border: 5px solid black;   
}