*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0%;
}

.upper-cont{
    height: 4rem;
    width: 100vw;
}

.color{
    height: 10px;
    width: 5px;
}
.div1{
    background-color: pink;
}